DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=database_name

JWT_SECRET_KEY=your_jwt_key
INVITE_TOKEN_EXPIRES_HOURS=48
ACTIVATION_CODE_EXPIRES_HOURS=24

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=

RESEND_API_KEY=your_resend_api_key
MAIL_FROM=lms@yourdomain.com
MAIL_FROM_NAME=Library Management System